.orderContainer {
    width: 30vw;
    min-width: 30vw;
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

p {
    width: 90%;
    border-style: dashed;
}

 /* .fabPosition {
    position: fixed;
    right: 1em;
    /* bottom: 1em; 
} */