<!-- TOOLBAR -->
<mat-toolbar color="primary">
  <span>sagraPOS</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
    <mat-icon>receipt</mat-icon>
  </button>
  <button mat-icon-button class="example-icon">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<!-- FOOD CARDS -->

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav position="end" class="example-sidenav" mode="side">
    <div class="receipt">ciao</div>
  </mat-sidenav>

  <!-- BOTTOM TABS -->
  <!-- Change for "below" to position tabs at the bottom -->
  <mat-tab-group headerPosition="above">
    <mat-tab label="Primi">
      <mat-card class="example-card">
        <img mat-card-image src="http://localhost:4999/web/img/trofie.jpg">
        <mat-card-header>
          <mat-card-title>Trofie</mat-card-title>
          <span class="example-spacer"></span>
          <mat-chip-set>
            <mat-chip>8€</mat-chip>
          </mat-chip-set>
        </mat-card-header>
      </mat-card>
    </mat-tab>
    <mat-tab label="Secondi">
      <mat-card class="example-card">
        <img mat-card-image src="http://localhost:4999/web/img/trofie.jpg">
        <mat-card-header>
          <mat-card-title>Trofie</mat-card-title>
          <span class="example-spacer"></span>
          <mat-chip-set>
            <mat-chip>8€</mat-chip>
          </mat-chip-set>
        </mat-card-header>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>