.example-spacer {
    flex: 1 1 auto;
}

.example-icon {
    padding: 0 14px;
}

.example-container {
    height: 90%;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.content {
    padding: 16px;
}

.entryCard {
    cursor: pointer;
}

.cardImageStandardize {
    max-height: 150px;
    object-fit: cover;
}